@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
  }

  .hero-text h1 {
    font-size: 30px;
  }

  .reg_form {
    width: 90%;
  }
}